jobs:

  - job: Build
    pool: Anastasiia Pool
    steps:
      # 1. Checkout коду
      - checkout: self

      # 2. Встановлення залежностей
      - task: PowerShell@2
        enabled: true
        displayName: "Install dependencies"
        inputs:
          targetType: 'inline'
          script: 'npm ci'
          workingDirectory: tests/ # update accordingly

      # 3. Створити папку для звітів (щоб PublishPipelineArtifact не падав)
      - script: mkdir -p playwright-report
        displayName: "Create report folder"

      # 4. Запуск Playwright тестів
      - task: AzureCLI@2
        displayName: "Run Playwright Test"
        env:
          PLAYWRIGHT_SERVICE_URL: $(PLAYWRIGHT_SERVICE_URL)
          PLAYWRIGHT_SERVICE_RUN_ID: $(Build.DefinitionName)-$(Build.BuildNumber)-$(System.JobAttempt)
        inputs:
          azureSubscription: 'playwrightTest'
          scriptType: 'pscore'
          scriptLocation: 'inlineScript'
          inlineScript: |
            npx playwright test --reporter=list --reporter=allure-playwright --output=playwright-report
          addSpnToEnvironment: true

      # 5. Публікація артефактів
      - task: PublishPipelineArtifact@1
        displayName: "Upload Playwright report"
        inputs:
          targetPath: playwright-report/   # шлях до створеної папки
          artifact: 'Playwright tests'
          publishLocation: 'pipeline'
